
<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Acne</h2>
 <p>
is a common human skin disease, characterized by areas of skin with seborrhea (scaly red skin), comedones (blackheads and whiteheads), papules (pinheads), nodules (large papules), pimples, and possibly scarring.[1] Acne affects mostly skin with the densest population of sebaceous follicles; these areas include the face, the upper part of the chest, and the back.[2] Severe acne is inflammatory, but acne can also manifest in noninflammatory forms.[3] The lesions are caused by changes in pilosebaceous units, skin structures consisting of a hair follicle and its associated sebaceous gland, changes that require androgen stimulation.<br><br>

Acne occurs most commonly during adolescence, affecting an estimated 70-90% of teenagers.[4] In adolescence, acne is usually caused by an increase in testosterone, which occurs during puberty, regardless of sex.[5] For most people, acne diminishes over time and tends to disappear — or at the very least decreases — by age 25.[6] There is, however, no way to predict how long it will take to disappear entirely, and some individuals will carry this condition well into their thirties, forties, and beyond       
 </p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("acne1.jpeg")%>
   <%=image_tag("acne2.jpeg")%>
   <%=image_tag("acne3.jpeg")%>
  </div>
 </center>
</div>