
<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Acne</h2>
 <p>
Acne is caused by the oil glands of the skin when they start producing an oily material called sebum. Sebum lubricates the skin. Sometimes the wall of the oil gland breaks and spills the sebum within the skin which causes redness, swelling, in other words a pimple.<br><br>

Acne is built into your genes; it runs in families.  In women, acne frequently worsens at the time of menstruation.  Foods do not cause acne and Acne may become worse under stress.<br><br>  

There are many effective treatments for acne that dermatologists employ.  At Southwest Skin and Cancer we have the latest and greatest treatments and knowlege to make your skin as clear as possible.     
 </p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("acne1.jpeg")%>
   <%=image_tag("acne2.jpeg")%>
   
  </div>
 </center>
</div>