<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Botox</h2>
 <p>
 Botox is a simple, non-surgical, physician-administered treatment that can temporarily smooth moderate to severe frown lines between the brows in people from 18 to 65 years of age. It is the only treatment of its type approved by the Food and Drug Administration (FDA).

One 10-minute treatment-a few tiny injections-and within days there's a noticeable improvement in those persistent lines between the brows, which can last up to 4 months. Results may vary.
</p>
 <br>

 <h2>Juvederm</h2>
 <p>
Juvéderm, an injectable filler (injectable facial filler), is used by cosmetic, dermatological, and plastic surgeons to soften deep folds and reduce wrinkles in the faces of patients.   Juvéderm’s prime use is removing nasolabial folds, or “smile lines,” creases of skin which run from the corners of the nose to the corners of the mouth. It is also used as a lip augmentation agent, and to fill in hollow places and scars on the face. However, all hyaluronic acid facial filler products are eventually absorbed by the body, usually within six to nine months, thus requiring follow visits to maintain the younger look. Juvéderm is also used by physicians to plump lips, which also lose fat and internal shape with normal aging.
</p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("botox1.jpeg")%>
   <%=image_tag("botox2.jpeg")%>
   <%=image_tag("juvederm1.jpeg")%>
   <%=image_tag("juvederm2.jpeg")%>
  </div>
 </center>
</div>