<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Botulinum Toxins</h2>
 <p>
 Botulinum treatment is a simple, non-surgical, physician-administered treatment that can temporarily smooth moderate to severe frown lines between the brows in people from 18 to 65 years of age. It is the only treatment of its type approved by the Food and Drug Administration (FDA).

One 10-minute treatment-a few tiny injections-and within days there's a noticeable improvement in those persistent lines between the brows, which can last up to 4 months. Results may vary.

 <br><br>
 Brands Carried:<br><br>Botox<br><br>Dysport<br><br>Xeomin
</p>
 <br>

 
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("botox1.jpeg")%>
   <%=image_tag("botox2.jpeg")%>
   
  </div>
 </center>
</div>