<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Botox</h2>
 <p>
Researchers discovered in the 1950s that injecting overactive muscles with minute quantities of botulinum toxin type-A would result in decreased muscle activity by blocking the release of acetylcholine from the neuron by preventing the vesicle where the acetylcholine is stored from binding to the membrane where the neurotransmitter can be released. This will effectively weaken the muscle for a period of three to four months.<br><br>

In cosmetic applications, a Botox injection, consisting of a small dose of botulinum toxin, can be used to prevent development of wrinkles by paralyzing facial muscles.[36] As of 2007, it is the most common cosmetic operation, with 4.6 million procedures in the United States, according to the American Society of Plastic Surgeons. Qualifications for Botox injectors vary by county, state and country. Botox cosmetic providers include dermatologists, plastic surgeons, aesthetic spa physicians, dentists, nurse practitioners, nurses and physician assistants. The wrinkle-preventing effect of Botox normally lasts about three to four months, but can last up to six months.
</p>
 <br>

 <h2>Juvederm</h2>
 <p>
Juvéderm, an injectable filler (injectable facial filler), is used by cosmetic, dermatological, and plastic surgeons to soften deep folds and reduce wrinkles in the faces of patients. The substance is largely hyaluronic acid, a substance normally found in the skin, muscles, and tendons of mammals. Approved in June 2006 by the U.S. Food and Drug Administration, Juvéderm’s prime use is removing nasolabial folds, or “smile lines,” creases of skin which run from the corners of the nose to the corners of the mouth. It is also used as a lip augmentation agent, and to fill in hollow places and scars on the face. However, all hyaluronic acid facial filler products are eventually absorbed by the body, usually within six to nine months, causing the patient to undergo repeat injections to maintain the younger look. Juvéderm is also used by physicians to plump lips, which also lose fat and internal shape with normal aging.
</p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("botox1.jpeg")%>
   <%=image_tag("botox2.jpeg")%>
   <%=image_tag("juvederm1.jpeg")%>
   <%=image_tag("juvederm2.jpeg")%>
  </div>
 </center>
</div>