<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Scheduling With Us is Easy</h2>
 <p>
Just call or email to get a fast appointment with us here at Southwest Skin and Cancer.  We have locations in Saint George, Kanab, Hurricane and in Mesquite Nevada 
<br><br>

Phone: (435) 628-2826<br><br>
Fax: (435) 628-2839<br><br>
Toll Free: (800) 585-9953<br><br>
Email: southwestskinandcancer@yahoo.com

 </p>
 </div>
   
 <center>
  <div class= "containerright" id="contactphotos">
   <br><%=image_tag("nursestation.jpg")%>
   
  </div>
 </center>
</div>
