<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Scheduling With Us is Easy</h2>
 <p>
Just Call or Click to get a fast appointment with us here at Southwest Skin and Cancer.  We have locations in Saint George, Kanab, Hurricane and in Mesquite Nevada 
<br><br>

Phone (435) 628-2826<br>
Fax (435) 628-2839 
 </p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("nursestation.jpg")%>
   
  </div>
 </center>
</div>
