<div class= "container" div id="aboutustop">
	<h2>FAQ's</h2>
	<p>1.   How do I take care of my surgical wound?  <br><br>Detailed instructions are provided to patients at the time of their visit.  However, if you have questions, please see our general guidelines below: <br><br><a style='text-decoration:underline'href=/surgical>Post Surgical Care</a></p><br>
	<p>2. What should I do if my wound starts to bleed?<br><br>
	If a surgical wound starts to bleed, first try stopping the bleeding with ice and compression for thirty minutes straight.  If this does not resolve the problem please call your doctor.</p><br>
	<p>3. What should I do to prepare for my surgical visit?<br><br>Take all medicines as before, except any that the clinic has asked you to stop such as blood thinning medications.  Please eat before you come and plan to bring someone with you, especially if we will be working on the head or neck.  Please call with any specific question or concerns.</p><br>
	<p>4.  I was asked to use a cream to treat pre-cancers and now my skin looks like it may be allergic to the cream.  What should I do?<br><br>
	Actually, many reactions to creams used for treatment of pre-cancers cause moderate to severe reactions.  We expect this, as this is a sign it is working.  Please, however, feel free to call at any time to be checked if your case is more concerning.<p><br>
	<p>5. What is the ratio of vinegar to water for vinegar soaks?<br><br>
	We recommend treating some wounds with vinegar soaks.  The ratio of dilution is 1 tablespoon of white vinegar to 1 cup of warm water.  Place small washcloth or rag in the solution so that it is damp and hold it over the wound for 5-10 minutes.  Repeat 1-2 times daily as recommended in clinic.<br><br>

	<p style='color:red'>**Please note that these FAQ's are meant to serve as a general guideline. If any treatment, medication or condition is concerning to you please do not hesitate to call!</p>

</div>