<div class= "container">
 <div class= "containerleft" id="acne">

<h2>Fillers</h2>
 <p>
Fillers, are used by cosmetic, dermatological, and plastic surgeons to soften deep folds and reduce wrinkles in the faces of patients.   The prime use of fillers is in removing nasolabial folds, or “smile lines,” creases of skin which run from the corners of the nose to the corners of the mouth. They are also used as a lip augmentation agent, and to fill in hollow places and scars on the face. However, all hyaluronic acid facial filler products are eventually absorbed by the body, usually within six to nine months, thus requiring follow visits to maintain the younger look. <br><br>
 Brands Carried:<br><br>Juvederm<br><br>Restylane<br><br>Perlane<br><br>Radiesse<br><br>Belotero<br><br>Sculptra<br><br>Voluma
</p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   
   <%=image_tag("juvederm1.jpeg")%>
   
   <%=image_tag("perlane-1.jpg")%>
   <%=image_tag("Belotero.jpg")%>
  </div>
 </center>
</div>