<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Laser Skin Treatments</h2>
 <p>
The first lasers used to treat skin conditions occurred over 40 years ago. Argon and carbon dioxide (CO2) lasers were commonly used to treat benign vascular birthmarks such as port-wine stains and haemangiomas. Although these birthmarks could be effectively lightened, a side effect was the unacceptably high rate of scar formation. In the last 20 years major advances in laser technology has revolutionised their use in the treatment of many skin conditions and congenital defects, including vascular and pigmented lesions, and the removal of tattoos, scars and wrinkles. Now there is a wide spectrum of laser and light technologies available for skin resurfacing and rejuvenation.     
 </p>
 <br>
  <h2>Laser Hair Removal</h2>
 <p>
Laser hair removal is the process of removing unwanted hair by means of exposure to pulses of laser light that destroy the hair follicle. It had been performed experimentally for about 20 years before becoming commercially available in the mid-1990s.[1] One of the first published articles describing laser hair removal was authored by the group at Massachusetts General Hospital in 1998.[2][3] The efficacy of laser hair removal is now generally accepted in the dermatology community,[citation needed] and laser hair removal is widely practiced in clinics, and even in homes using devices designed and priced for consumer self-treatment. Many reviews of laser hair removal methods, safety, and efficacy have been published in the dermatology literature.[    
 </p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("laser1.jpeg")%>
   <%=image_tag("laser2.jpeg")%>
   <%=image_tag("laser3.jpeg")%>
   <%=image_tag("laser4.jpeg")%>
  </div>
 </center>
</div>