<div class="container" id="lcontainer">
 <div id="locations">
  <h2>St. George Location</h2>
 <p>Come see us in St. George<br>at 383 South 300 East<br>
  St. George, UT<br>
  Phone# (435) 628-2826<br>
  Hours: Monday - Friday 7:00 AM to 5:00 PM 
 </p>
 <br>
   </div>
 <center>
  <div id="locationsphotos">
   <%=image_tag("building.jpg")%>
  </div>
 </center>
</div>
<center>
<div class="container" id="mapcontainer">
  <iframe width="480" height="360" frameborder="0" scrolling="no" marginheight="10px" marginwidth="0" src="https://maps.google.com/maps?t=m&amp;q=Southwest+Skin+&amp;ie=UTF8&amp;hq=Southwest+Skin&amp;hnear=St+George,+Washington+County,+Utah&amp;ll=37.101125,-113.577304&amp;spn=0.016429,0.027466&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?t=m&amp;q=Southwest+Skin+&amp;ie=UTF8&amp;hq=Southwest+Skin&amp;hnear=St+George,+Washington+County,+Utah&amp;ll=37.101125,-113.577304&amp;spn=0.016429,0.027466&amp;z=15&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
</center>



<div class="container" id="mcontainer">
 <div id="locations">
  <h2>Mesquite Location</h2>
 <p>340 Falcon Ridge Pkwy Bldg. 200 Ste C<br>
  Mesquite, NV<br>
  (435) 628-2826<br>
  (800) 585-9953<br>

  Hours: Wednesdays 8:00 AM to 4:00 PM 
 </p>
 <br>
   </div>
 <center>
  <div id="locationsphotos">
   <%=image_tag("mesquite.jpg")%>
  </div>
 </center>
</div>
<center>
<div class="container" id="mapcontainer">
  <iframe width="480" height="360" frameborder="0" scrolling="no" marginheight="10px" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=340+Falcon+Ridge+Pkwy+Bldg.+200+Ste+C&amp;sll=36.808924,-114.112866&amp;sspn=0.00798,0.015814&amp;ie=UTF8&amp;hq=&amp;hnear=340+Falcon+Ridge+Pkwy,+Mesquite,+Nevada+89027&amp;ll=36.808924,-114.112866&amp;spn=0.015961,0.031629&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=340+Falcon+Ridge+Pkwy+Bldg.+200+Ste+C&amp;sll=36.808924,-114.112866&amp;sspn=0.00798,0.015814&amp;ie=UTF8&amp;hq=&amp;hnear=340+Falcon+Ridge+Pkwy,+Mesquite,+Nevada+89027&amp;ll=36.808924,-114.112866&amp;spn=0.015961,0.031629&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
</center>

<div class="container" id="mcontainer">
 <div id="locations">
  <h2>Hurricane Location</h2>
 <p>52 S. 850 W. Suite 101<br>
  Hurricane, UT<br>
  (435) 628-2826<br>
  (800) 585-9953<br>

  Hours: Every second Tuesday 8:00 AM to 4:00 PM
 </p>
 <br>
   </div>
 <center>
  <div id="locationsphotos">
   <%=image_tag("hurricane.jpg")%>
  </div>
 </center>
</div>
<center>
<div class="container" id="mapcontainer">
  <iframe width="480" height="360" frameborder="0" scrolling="no" marginheight="10px" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=340+Falcon+Ridge+Pkwy+Bldg.+200+Ste+C&amp;sll=36.808924,-114.112866&amp;sspn=0.00798,0.015814&amp;ie=UTF8&amp;hq=&amp;hnear=340+Falcon+Ridge+Pkwy,+Mesquite,+Nevada+89027&amp;ll=36.808924,-114.112866&amp;spn=0.015961,0.031629&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=340+Falcon+Ridge+Pkwy+Bldg.+200+Ste+C&amp;sll=36.808924,-114.112866&amp;sspn=0.00798,0.015814&amp;ie=UTF8&amp;hq=&amp;hnear=340+Falcon+Ridge+Pkwy,+Mesquite,+Nevada+89027&amp;ll=36.808924,-114.112866&amp;spn=0.015961,0.031629&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>
</center>
