

<div class= "container">
 <div class= "containerleft" id="mohssurgery">
  <h2>Mohs Surgery</h2>
  <p>
Mohs surgery, also known as chemosurgery, developed in 1938 by a general surgeon, Frederic E. Mohs, is microscopically controlled surgery used to treat common types of skin cancer. During the surgery, after each removal of tissue, while the patient waits, the pathologist examines the tissue specimen for cancer cells, and that examination informs the surgeon where to remove tissue next. The surgeon performing the procedure is also the pathologist reading the specimen slides. Mohs surgery is one of the many methods of obtaining complete margin control during removal of a skin cancer (CCPDMA – complete circumferential peripheral and deep margin assessment.[1][2][3][4]) using frozen section histology.[5][6] CCPDMA or Mohs surgery allows for the removal of a skin cancer with very narrow surgical margin and a high cure rate.<br><br>

Other indications for Mohs surgery include dermatofibrosarcoma protuberans, keratoacanthoma, spindle cell tumors, sebaceous carcinomas, microcystic adnexal carcinoma, merkel cell carcinoma, Paget's disease of the breast, atypical fibroxanthoma, leiomyosarcoma, and angiosarcoma.[14] Because the Mohs procedure is micrographically controlled, it provides precise removal of the cancerous tissue, while healthy tissue is spared. Mohs surgery is also more cost effective to other surgical methods when considering the cost of surgical removal, and separate histopathological analysis.      
  </p>
   
 </div>
 <div class= "containerright" id="mohssurgeryphotos">
  <center>
   <%=image_tag("mohssurgery1.jpeg")%>
   <%=image_tag("mohssurgery2.jpeg")%>
   <%=image_tag("mohssurgery3.jpeg")%>
   
  </center>

 </div>
</div>