

<div class= "container">
 <div class= "containerleft" id="mohssurgery">
  <h2>Mohs Surgery</h2>
  <p>
Mohs Surgery has been shown to be a highly effective treatment for certain types of skin cancer, with a cure rate of up to 99% for certain cancers. Mohs surgery provides the most precise method for removal of all cancerous tissue, while sparing the greatest amount of healthy tissue. For this reason, Mohs surgery typically results in a significantly smaller surgical defect and less noticeable scarring, as compared to other methods of skin cancer treatment. <br><br>

The Mohs procedure is recommended for skin cancer removal in anatomic areas where maximum preservation of healthy tissue is desirable for cosmetic and functional purposes. It may also be indicated for lesions that have recurred following prior treatment, or for lesions which have the greatest propensity for recurrence.   
  </p>
   
 </div>
 <div class= "containerright" id="mohssurgeryphotos">
  <center>
   <%=image_tag("mohssurgery1.jpeg")%>
   
   <%=image_tag("mohssurgery3.jpeg")%>
   
  </center>

 </div>
</div>