
<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Moles</h2>
 <p>
Moles can be cancerous or benign growths on the skin that can be painful, irritated, or unsightly. Moles can be a sign of malignant skin cancer, but can also be harmless. If you have an irregular mole (in shape, size, or growth), come in and get it checked out. We will remove it and perform a biopsy to test for cancerous cells, just in case.
</p>
 <br>

 <h2>Warts</h2>
 <p>
Warts are small, noncancerous growths that grow as a result of viral infection of the skin. Warts often disappear on their own, but can be embarrassing or unsightly. Dr. Myers can help with warts that linger, reoccur or present pain; several wart removal procedures are available, including medication, cryotherapy, electrocautery and laser treatment.
</p>
 </div>
 <center>
  <div class= "containerright" id="acnephotos">
   
   <%=image_tag("mole2.jpeg")%>
   
   <%=image_tag("wart2.jpeg")%>
  </div>
 </center>
</div>
