
<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Moles</h2>
 <p>
The majority of moles appear during the first two decades of a person's life, with about one in every 100 babies born with moles.[5] Acquired moles are a form of benign neoplasm, while congenital moles, or congenital nevi, are considered a minor malformation or hamartoma and may be at a higher risk for melanoma.[5] A mole can be either subdermal (under the skin) or a pigmented growth on the skin, formed mostly of a type of cell known as a melanocyte. The high concentration of the body's pigmenting agent, melanin, is responsible for their dark color. Moles are a member of the family of skin lesions known as nevi.
</p>
 <br>

 <h2>Warts</h2>
 <p>
A wart is a small, rough growth resembling a cauliflower or a solid blister. It typically occurs on humans' hands or feet but often in other locations. Warts are caused by a viral infection, specifically by one of the many types of human papillomavirus (HPV). There are as many as 10 varieties of warts, the most common considered to be mostly harmless. It is possible to get warts from others; they are contagious and usually enter the body in an area of broken skin.[1] They typically disappear after a few months but can last for years and can reoccur
</p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("mole1.jpeg")%>
   <%=image_tag("mole2.jpeg")%>
   <%=image_tag("wart1.jpeg")%>
   <%=image_tag("wart2.jpeg")%>
  </div>
 </center>
</div>
