<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Dermatology and Skin Care Products</h2>
 <p>
There are many
</p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("products1.jpeg")%>
   <%=image_tag("products2.jpeg")%>
  </div>
 </center>
</div>