<div class="container" id="lcontainer">
 
 <center>
  
 

<h2>Accepted Insurance Providers</h2>
<br><br>

<div id=insleftcontainer>
<p>Aetna<br><br>Anthem BCBS<br><br>Altius<br><br>Assurant Health<br><br>Blue Cross Blue Shield<br><br>Cigna<br><br>Clark County Firefighters<br><br>Coventry<br><br>Educators<br><br>GEHA<br><br>Great West</p>
</div>

<div id=inscentercontainer>
<p>Healthscope<br><br>Humana (Utah Only)<br><br>IBEW<br><br>Loomis<br><br>Mailhandlers<br><br>Medicare<br><br>Meridian<br><br>Meritain<br><br>Molina<br><br>NALC<br><br>National Rural Electric</p>
</div>

<div id=insrightcontainer>
<p>NEA<br><br>Nevada Health Plan (PPO only)<br><br>Nevada Public Employees<br><br>PEHP<br><br>Select Health<br><br>Sierra Spectrum<br><br>Tall Tree Administrators<br><br>Teachers Health Trust<br><br>Tricare<br><br>UMR<br><br>United Healthcare<br><br>WMI-PPA</p>
</div>









</center>


</div>

<div class="container" id="disclaimer">
<center>
<h5>Please contact your insurance provider to verify the most up-to-date information and coverages prior to your visit.</h5>
</center>
</div>