<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Other Cosmetic Services</h2>
 <p>
 Southwest Skin and Cancer also offers Micro-Dermabrasion, Chemical Peels, Acne Surgery and Blue Light Therapy.

 
</p>
 <br>

 
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("chemical peel.jpeg")%>
   <%=image_tag("Microdermabrasion3.jpg")%>
   <%=image_tag("Blue-LED-light-therapy.jpeg")%>
  </div>
 </center>
</div>