

<div class= "container">
 <div class= "containerleft" id="skincancer">
  <h2>Skin Cancer</h2>
 <p>
 There are many forms of skin cancer. However, there are three which make up the majority of skin cancer.  Basal Cell Carcinoma is the most common type, followed by Squamous Cell Carcinoma.  These come from the outer layer of skin called the epidermis and are usually cancers caused by chronic sun damage. <br><br>

Melanoma is the least common of the three, but is still quite common and also carries with it the most concern for spread. Considered “mole cancer,” Melanoma comes from the pigment producing cells of the epidermis.  Not all Melanomas come from sun damage, but sunlight and tanning are well documented risks for its development. <br><br>

Skin cancer can be cured, especially if it is caught early and properly treated. Without early treatment, skin cancer can spread and create an outcome that is unfavorable. Do not delay getting checked out for possible skin cancer.<br><br>
If a visit to the dermatologist results in a diagnosis of skin cancer, there are a number of common low-risk treatments, all if which are performed at Southwest Skin and Cancer.       
 </p>
 </div>
   <br><br><br>
 <center>
  <div class= "containerright" id="skincancerphotos">
   <%=image_tag("skincancer1.jpeg")%>
   <%=image_tag("skincancer4.jpeg")%>
   <%=image_tag("basalcarcinoma.jpg")%>
   <%=image_tag("squamouscarcinoma.jpg")%>
  </div>
 </center>
</div>

