

<div class= "container">
 <div class= "containerleft" id="skincancer">
  <h2>Skin Cancer</h2>
 <p>
Skin cancer forms in the tissues of the skin. There are several types of skin cancer. Skin cancer that forms in melanocytes (skin cells that make pigment) is called melanoma. Skin cancer that forms in the lower part of the epidermis (the outer layer of the skin) is called basal cell carcinoma. <br><br>

Skin cancer that forms in squamous cells (flat cells that form the surface of the skin) is called squamous cell carcinoma. Skin cancer that forms in neuroendocrine cells (cells that release hormones in response to signals from the nervous system) is called neuroendocrine carcinoma of the skin. Most skin cancers form in older people on parts of the body exposed to the sun or in people who have weakened immune systems. <br><br>

Skin cancer can be cured, especially if it is caught early and properly treated. Without early treatment, skin cancer can spread and create an outcome that is not as favorable. Do not delay getting checked out for possible skin cancer.<br><br>
If a visit to the dermatologist results in a diagnosis of skin cancer, there are a number of common low-risk treatments, all if which are performed at Southwest Skin and Cancer.       
 </p>
 </div>
   <br><br><br>
 <center>
  <div class= "containerright" id="skincancerphotos">
   <%=image_tag("skincancer1.jpeg")%>
   <%=image_tag("skincancer4.jpeg")%>
  </div>
 </center>
</div>

