

<div class= "container">
 <div class= "containerleft" id="skincancer">
  <h2>Skin Cancer</h2>
 <p>
Cancer that forms in the tissues of the skin. There are several types of skin cancer. Skin cancer that forms in melanocytes (skin cells that make pigment) is called melanoma. Skin cancer that forms in the lower part of the epidermis (the outer layer of the skin) is called basal cell carcinoma. <br><br>

Skin cancer that forms in squamous cells (flat cells that form the surface of the skin) is called squamous cell carcinoma. Skin cancer that forms in neuroendocrine cells (cells that release hormones in response to signals from the nervous system) is called neuroendocrine carcinoma of the skin. Most skin cancers form in older people on parts of the body exposed to the sun or in people who have weakened immune systems.        
 </p>
 </div>
   
 <center>
  <div class= "containerright" id="skincancerphotos">
   <%=image_tag("skincancer1.jpeg")%>
   <%=image_tag("skincancer4.jpeg")%>
  </div>
 </center>
</div>

