<div class= "container" div id="aboutustop">
	<h2>Post Surgical Care</h2><br>
	<p>1. Do not remove bandage and keep area dry for 24-48 hours after the procedure.</p>
	<p>2. Where sutures are placed, you may wash area gently 48 hours following other procedure.  However, while sutures are in don't soak the area.</p>
	<p>3. Keep area clean and moist with antibiotic ointment daily.  And do not cover area with bandages unless necessary.</p>
	<p>4. Most wounds take 1-3 weeks to heal.</p>
	<p>5. Redness, swelling, bruising, and bleeding are normal in small amounts.  If these become excessive or you develop fever, chills, and thick drainage, <br>&nbsp&nbsp&nbsp please call your doctor.</p>

	<br><br>
	<p style='color:red'>** For any emergency please seek medical attention immediately.</p>
</div>


