<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Skin Tags</h2>
 <p>
a small benign tumor that forms primarily in areas where the skin forms creases, such as the neck, armpit, and groin. They may also occur on the face, usually on the eyelids. Acrochorda are harmless and typically painless, and do not grow or change over time[citation needed]. Though tags up to a half-inch long have been seen,[3] they are typically the size of a grain of rice. The surface of an acrochordon may be smooth or irregular in appearance and is often raised from the surface of the skin on a fleshy stalk called a peduncle. Microscopically, an acrochordon consists of a fibro-vascular core, sometimes also with fat cells, covered by an unremarkable epidermis. However, tags may become irritated by shaving, clothing, jewelry or eczema.<br><br>

It is believed that skin tags occur from skin rubbing up against skin, since they are so often found in skin creases and folds.[3] Studies have shown existence of low-risk HPV 6 and 11 in skin tags hinting at a possible role in its pathogenesis.[4] Acrochorda have been reported to have a prevalence of 46% in the general population.[5] A causal genetic component is thought to exist.[6] They also are more common in women than men.[7][dead link] Rarely, they can be associated with the Birt–Hogg–Dubé syndrome, Acromegaly and polycystic ovary syndrome
 </p>
 </div>
   
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("skintag1.jpeg")%>
   <%=image_tag("skintag2.jpeg")%>
  </div>
 </center>
</div>