<div class= "container">
 <div class= "containerleft" id="acne">
  <h2>Skin Tags</h2>
 <p>
Skin tags are common benign growths that look like small pieces of hanging skin and usually grow in areas there the skin rubs against clothing or other skin. They can grow anywhere on the body, but the most common areas are the eyelid, underarm, groin fold, neck, and underneath the breasts.<br><br>

Skin tags can remain as small as the head of a pin, or can grow as big as a marble. Often they are the same color as the surrounding skin, but they can frequently be darker brown as well. Skin tags are not dangerous, but can be unsightly or become irritated. When necessary, they are removed cryogenically (liquid nitrogen), with scissors, or with electrodessication, and there is usually minimal to no scarring.<br><br>

Remember that only your doctor can determine whether or not a growth is benign. Any sudden or unusual growths on the skin should be discussed with your physician as soon as possible. On occasion, a biopsy may be necessary to rule out other conditions.
 </p>
 </div>
   <br><br><br>
 <center>
  <div class= "containerright" id="acnephotos">
   <%=image_tag("skintag1.jpeg")%>
   <%=image_tag("skintag2.jpeg")%>
  </div>
 </center>
</div>